<table style="width:100%">
        <tr>
            <th> Student ID</th>
            <th> Name</th>
            <th> Email</th>
            <th> Username</th>
            <th> Password</th>
           
        </tr>

<% @students.each do |single_student| %>
        <tr>
            <td> <%= single_student.id %> </td>
            <td> <%= link_to single_student.user.full_name, {:action => 'show', :id => single_student.id} -%> </td>
            <td> <%= single_student.user.email %></td>
            <td> <%= single_student.user.username %> </td>
            <td> <%= single_student.user.password %></td>
        </tr>
        <% end %>
    </table>

   