<h1>Create New Student</h1>

<%= form_for @student do |f|%>
   <%= fields_for :user, @student.user do |p| %>
       <%= p.text_field :first_name, placeholder: "Enter First Name" %>
       <%= p.text_field :last_name, placeholder: "Enter Last Name" %>
       <%= p.select :gender, User.gender %>
       <%= p.text_field :photo, placeholder: "Enter Photo URL" %>
       <%= p.text_field :username, placeholder: "Enter Username" %>
       <%= p.text_field :email, placeholder: "Enter Email" %>
       <%= p.text_field :password, placeholder: "Enter Password" %>
       <%= p.select :house_id, House.all.map{|x|[x.name, x.id]} %>
   <% end %>
   <%= f.text_field :major, placeholder: "Enter Major" %>
   <%= f.button :submit %>
<% end %>