<div class="container-fluid">
    <div class="options">
        <div class="small-action">
            <%= link_to 'Back To Students', students_path %>
        </div>
        
        <div class="small-action">
            <%= link_to 'Edit Student', edit_student_path(@student) %> 
        </div>
    </div>

    <div class="show-wrapper">

        <div class="user-info">
            <h2><%= @student.user.first_name %> <%= @student.user.last_name %></h2>

            <% if @student.user.photo.attached? %>
                <%= image_tag @student.user.photo %>
            <% else %>
                <%= image_tag image_path("temp_avatar.jpeg") %>
            <% end %>

            <h3> House: <%= @student.user.house.name %> </h3>
            <h3> Username: <%= @student.user.username %> </h3>
            <h3> Email: <%= @student.user.email %> </h3>
        </div>

        <div class="enrollmennt-wrapper">
            <h2>Current Courses:</h2>


                <table style="width: 100%">
                    <tr>
                        <th>Course ID</th>
                        <th>Course Name</th>
                        <th>Drop Course</th>
                        
                        
                    </tr>

                    <% @student.user.enrollments.each do |single_course| %>
                        <tr>
                            <td> <%= single_course.course_id %> </td>
                            <td> <%= single_course.course.name %> </td>
                            <td> <%= link_to 'Drop', single_course, method: :delete, remote:true, data: { confirm: 'Are you sure?' } %> </td>                        
                        </tr>
                    <% end %>

                </table>

                <div class="small-action">
                 <%= link_to 'Enroll', enrollments_path %>
                </div>
        </div>

                    
        </div>

    </div>

</div>
