<!DOCTYPE html>
<html>
<head>
<style>
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

</style>



<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <p class="btn btn-primary"><%= link_to 'Students', students_path %></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Instructors</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Courses</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Enrollment</a>
      </div>
    </div>
  </div>


                <h1>Users</h1>
                <table style="width:80%">
                        <tr>
                            <th> User ID</th>
                            <th> Name</th>
                            <th> Email</th>
                            <th> User Type</th>
                            <th> Username</th>
                            <th> Password</th>
                            <th> House</th>
                        </tr>
                
                <% @users.each do |single_user| %>
                        <tr>
                            <td> <%= single_user.id %> </td>
                            <td>  <%= single_user.first_name %> <%= single_user.last_name %> </td>
                            <td> <%= single_user.email %></td>
                            <td> <%= single_user.userable_type %></td>
                            <td> <%= single_user.username %> </td>
                            <td> <%= single_user.password %> </td>
                            <td> <%= single_user.house.name %> </td>
                        </tr>
                    <% end %>
                </table>
                
                    <div> <%= link_to 'Add New Student', new_student_path %> </div>
                    <div> <%= link_to 'Add New Instructor', new_instructor_path %> </div>
                    <div> <%= link_to 'Add New Course', new_course_path %> </div>
                    <div> <%= link_to 'Add New Enrollment', new_enrollment_path %> </div>
                

