
<div class="row action-wrapper">


    <h1 class="action border border-white rounded p-3 m-5">
      <%= link_to 'Students', students_path %>
    </h1>

    <h1 class="action border border-white rounded p-3 m-5">
      <%= link_to 'Instructors', instructors_path %>
    </h1>

    <h1 class="action border border-white rounded p-3 m-5">
        <%= link_to 'Courses', courses_path %>
    </h1>

    <h1 class="action border border-white rounded p-3 m-5">
        <%= link_to 'Enrollments', enrollments_path %>
    </h1>

</div>
 



    <table style="width:80%">
            <tr>
                <th> User ID</th>
                <th> Name</th>
                <th> Email</th>
                <th> User Type</th>
                <th> Username</th>
                <th> Password</th>
                <th> House</th>
            </tr>

    <% @users.each do |single_user| %>
            <tr>
                <td> <%= single_user.id %> </td>
                <td>  <%= single_user.full_name %> </td>
                <td> <%= single_user.email %></td>
                <td> <%= single_user.userable_type %></td>
                <td> <%= single_user.username %> </td>
                <td> <%= single_user.password %> </td>
                <td> <%= single_user.house.name %> </td>
            </tr>
        <% end %>
    </table>



              
                   
                
                

                 