<!DOCTYPE html>
<html>
  <head>
    <title>WesterosAcademy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag asset_path('favicon-256.png'), :rel => 'icon', :type =>  'image/png' %>
    </head>

<body id="bootstrap-override">



  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-brand header">WESTEROS ACADEMY</div>

    <div class="collapse navbar-collapse sticky-top" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
        <%= link_to 'Dashboard', root_path %> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <%= link_to 'Students', students_path %>
        </li>
        <li class="nav-item">
          <%= link_to 'Instructors', instructors_path %>
        </li>
        <li class="nav-item">
          <%= link_to 'Courses', courses_path %>
        </li>
        <li class="nav-item">
          <%= link_to 'Enrollments', enrollments_path %>
        </li>
        
      </ul>
      
      <ul class="nav justify-content-end">

        <% if user_signed_in? %>
          <li class="nav-item">
            Welcome back, <%= current_user.first_name %>!
          </li>
        <% end %>

      <li class="nav-item
          <%= render 'devise/nav/session_menu' %>
      </li>
          
      </ul>
    </div>
  </nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

                      <%= yield %>

   
</body>
</html>

