<!DOCTYPE html>
<html>
  <head>
    <title>WesterosAcademy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag asset_path('favicon-256.png'), :rel => 'icon', :type =>  'image/png' %>
    </head>

<body id="bootstrap-override">



  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-brand header">WESTEROS ACADEMY</div>

    
      
      <ul class="nav justify-content-end">
        <%= render 'devise/nav/session_menu' %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </ul>
    </div>
  </nav>


  

   
</body>
</html>